@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
}

.header {
    border-bottom: 1px solid #bbbbbb;
    height: 12vh;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로축 가운데 정렬 */
    align-items: center;
    background: #252424;
}
.profileArea {
    width: 11%;
    /*border: 1px solid white;*/
    position: absolute;
    right: 1px;
}
.css-1aw81lb {
    display: flex;

}
.chakra-menu__menu-button {
    margin-left: 5%;
}
.profileImg {
    width: 10%;
    height: 10%;
}
.headerImg {
    height: 80%;
    width: 5%;
    margin-right: 1%;
    cursor: pointer;
}
.userBtn {
    height: 10vh;
}
.header {
    color: #8fffa2;
    font-size: 1.5rem;
    font-family: 'TTLaundryGothicB';
}

.title1 {
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}

.title2 {
    color: #f8c953;
    border-radius: 10px;
    cursor: pointer;
}


.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    position: fixed;
    top: 2rem;
    left: 1rem
}
.hamburgerArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5%;
    height: 4%;
    position: fixed;
    top: 2rem;
    left: 1rem;
    cursor: pointer;


}
.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
    position: relative;
    margin-left: 10px;
}


.hamburger .bar.open:nth-child(1) {
    transform: rotate(45deg) translateY(15px);
}

.hamburger .bar.open:nth-child(2) {
    opacity: 0;
}

.hamburger .bar.open:nth-child(3) {
    transform: rotate(-45deg) translateY(-15px);
}

/* 메뉴 스타일 */
.menu {
    position: fixed;
    top: 10%;
    left: 0;
    height: 90%;
    width: 15%;
    background-color: #9e52d2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.menu.open {
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 1.5rem;
    text-align: left;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.menu ul li a:hover {
    color: #bebebe;
    transition: all 0.2s;
}
