.image-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-slider img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.thumbnail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.thumbnail-wrapper img {
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    width: 60px; /* 기본 썸네일 너비 */
    height: 60px; /* 기본 썸네일 높이 */
    object-fit: cover;
}

.thumbnail-wrapper img.active {
    transform: scale(1.1);
    filter: none;
    border: 2px solid yellow;
}

.thumbnail-wrapper img.inactive {
    filter: blur(2px);
}
